<div id="short-area" class="hidden">
  <h2 class="mt-4 text-sky-500 text-center site-name text-2xl">
    Your shortened URL
  </h2>
  <div class="card rounded-2xl bg-slate-800">
    <div class="card-body">
      <form action=""></form>
      <div class="form-group row">
        <label for="shortlink" class="col-md-2 col-form-label text-lg">
          Short link
        </label>
        <div class="col-md-10">
          <div class="input-group mb-4 rounded-full">
            <input
              type="text"
              class="form-control border-0 focus:text-slate-100 form-control-lg focus:bg-slate-900 text-slate-200 bg-slate-900 rounded-full disabled:active:bg-slate-900 disabled:bg-slate-900 disabled:text-slate-100"
              disabled
              name="shortLink"
              id="shortlink"
              value="<%=newLongURL%>"
            />
            <div class="input-group-append">
              <button
                class="btn bg-sky-500 rounded-full"
                id="d_clip_button"
                data-clipboard-target="#shortlink"
              >
                Copy
              </button>
            </div>

            <div id="copy-notice" style="visibility: hidden">Copied</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
