<footer class="mt-auto">
  <div class="container">
    <div class="row mt-3">
      <div class="col-lg-10 offset-lg-1">
        <p>
          Developed by
          <strong
            ><a href="https://github.com/muhammadranju" target="_blank"
              >Muhammad Ranju</a
            ></strong
          >
        </p>
      </div>
    </div>
  </div>
</footer>
