<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="css/frontend.css" />

  <meta
    name="keywords"
    content="short url, url shortener, online url shortener, free url shortener"
  />
  <meta
    name="description"
    content="Use this URL Shortener service to shorten your long URLs!"
  />
  <meta property="og:title" content="URL Shortener" />
  <meta
    property="og:description"
    content="Use this URL Shortener service to shorten your long URLs!"
  />
  <meta property="og:image" content="/images/logo.png" />

  <script src="https://cdn.tailwindcss.com"></script>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script src="../script/copy.js"></script>

  <title>URL Shortener</title>
</head>
