<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="../script/copy.js"></script>
  </head>
  <body>
    <h1 class="text-center text-7xl font-bold text-sky-500 mt-64">
      404 Not Found
    </h1>
  </body>
</html>
