<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="../script/copy.js"></script>
  </head>
  <body class="bg-slate-900 text-slate-200">
    <div class="flex justify-center flex-col items-center mt-64">
      <h1 class="text-center text-5xl font-bold text-pink-200">
        You have reached the maximum hits
      </h1>
      <p class="font-semibold text-center text-lg mt-4">
        If you want to increase the limit hits, please contact me on my email.
      </p>
      <div class="font-semibold text-center text-lg mt-4">
        <a href="/">
          <button
            class="btn mt-5 p-3 px-6 font-bold bg-sky-500 rounded-full text-slate-50"
          >
            Go Back
          </button>
        </a>
        <a
          href="mailto:mdranju.dev@gmail.com
        "
        >
          <button
            class="btn mt-5 p-3 px-6 font-bold bg-pink-500 rounded-full text-slate-50"
          >
            Contact Me
          </button>
        </a>
      </div>
    </div>
  </body>
</html>
